<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1ff0a5e2-3e4f-4961-8796-2767a27c79de/resourceGroups/rg-demo-webapps/providers/Microsoft.Web/sites/as-demo-webapp</ResourceId>
    <ResourceGroup>rg-demo-webapps</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://as-demo-webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>as-demo-webapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>as-demo-webapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$as-demo-webapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>