<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/21937ad4-d967-41fb-9355-613195991d08/resourceGroups/rg-demo-appservice/providers/Microsoft.Web/sites/demoappservice02</ResourceId>
    <ResourceGroup>rg-demo-appservice</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://demoappservice02.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>demoappservice02.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>demoappservice02</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$demoappservice02</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>